<div class="client-home" class="client">

    {{#if idTable}}
    <h1><span id='mesa' >{{idTable}}</span></h1>
    
    <form id="garcon">
        <input type="hidden" name="mesa" value={{idTable}}>
        <button id="garcon" type="submit" class="botao-chamada">Garçon</button>
    </form>

    <form id="conta">
        <input type="hidden" name="mesa" value={{idTable}}>
        <button id="conta" type="submit" class="botao-chamada">Conta</button>
    </form>

    <form id="cardapio">
        <input type="hidden" name="mesa" value={{idTable}}>
        <button id="cardapio" type="submit" class="botao-chamada">Cardápio</button>
    </form>

    {{/if}}
</div>

<script src="/js/client.js"></script>